$text-body:#0a9396;
$secondaryColor:#94d2bd;
$blue-dark: #001219;
$text-back:rgba(0, 0, 0, 0.5);
$text-light: #E9D8A6;

//paleta de colores//
$paleta:(
"uno": #001219,
"dos": #005F73,
"tres": #0A9396,
"cuatro": #94D2BD,
"cinco": #E9D8A6,
"seis": #EE9B00,
"siete": #CA6702,
"ocho": #BB3E03,
"nueve": #AE2012,
"dies": #9B2226,
)
