
@import "./general/reset";
@import "./general/vars";

$paleta:(
"uno": #001219,
"dos": #005F73,
"tres": #0A9396,
"cuatro": #94D2BD,
"cinco": #b3afa3,
"seis": #dddddd,
"siete": #072324,
"ocho": #050c0c,
"nueve": #283436,
"dies": #647e83,
);

body{
    background-color: $blue-dark;
}
p{
    color: map-get($map: $paleta, $key:"seis");
}
h1{
    color: map-get($map: $paleta, $key:"dies");
    font-weight: bold;
}
h2{
    color: map-get($map: $paleta, $key:"dies");
    font-weight: bold;
    
}
h3{
    font-size: 20px;
    font-weight: bold;
    color: map-get($map: $paleta, $key:"dies");
}
h4{
    color: map-get($map: $paleta, $key:"seis");
    font-size: 15px;
}
nav{
    background-color: $text-back;
}
.dropdown-menu{
    background-color: $text-back;
}
.dropdown-item:hover{
    background-color: $text-back;
}
a{
    text-decoration: none;
}
.hovercard{
    box-shadow: 4px 2px 10px 0px black;
}
.hovercard:hover{
    transform: scale(1.01);
    transition: 0.4s;
    box-shadow: 12px 6px 30px 2px black;
    opacity: 1.0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner{
    opacity: 0.8;
}
@mixin flex ($flex,$justify,$align,){
    display: $flex;
    justify-content:$justify;
    align-items: $align;
}
.main__container{
    @include flex(flex,center,center);
    width: 90%;
    margin: auto;
    flex-direction: column;
}
.card{
    background-color: $text-back;
    @extend .flex;
    .card-img-top{
        opacity: 0.8;
        &:hover{
            opacity: 1.0;
        }
    }
    .card-body{
        opacity: 0.8;
        &:hover{
            opacity: 1.0;
        }
        .card-text{
            font-weight: 100;
            font-size: 18px;
            color: map-get($map: $paleta, $key:"seis");
        }
        .btn{
            background-image: linear-gradient(180deg, #072324, #647e83);
            border: none;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0px 1px 2px 3px #050c0c;
                color: map-get($map: $paleta, $key:"seis");
                opacity: 1.0;
            }
        }
        .card-title{
            color: map-get($map: $paleta, $key:"seis");
            font-weight: 700;
        }
    }
}
.parrafo{
    color: map-get($map: $paleta, $key:"seis");
    font-style: italic;
}
.parrafo-index{
    max-width: 1000px;
    color: map-get($map: $paleta, $key:"seis");
    font-style: normal;
    font-size: 18px;
}
.contacto-img{
    width: 100%;
    max-width: 500px;
    align-items: center;
    opacity: 0.9;
}
.img-service{
    width: 100%;
    box-shadow: 5px 3px 30px 4px black;
    border-radius: 6px;
    opacity: 0.9;
}
.contacto{
    list-style: none;
    color: $text-light;
}
.footer{
    @extend .flex;
    flex-direction: row;
    margin: 0px 10px;
    width: 100%;
}
.logo-footer{
    width: 40px;
    margin: 2px 10px;
    font-size: 18px;
}
